.hero-container {
  margin: 5% 10%;
}

.login {
  display: flex;
  border-radius: 4px;
}

.login-text {
  font-size: 18px;
  font-weight: 600;
  margin-top: 30px;
  margin-bottom: 30px;
}

.css-sghohy-MuiButtonBase-root-MuiButton-root {
  width: 216px;
}

.css-nab5wq .MuiTextField-root {
  margin-left: 0 !important;
}

.css-i50b00 {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.css-i50b00 .MuiTextField-root {
  margin: 10px 0 !important;
  width: auto !important;
}

.form-content {
  background: #fff;
  margin: 0 auto;
  padding: 50px;
  border-radius: 8px;
}

p {
  font-size: 24px;
  font-weight: 500;
  padding-bottom: 10px;
}

.bottom-text {
  font-size: 14px;
  margin-top: 10px;
  padding-bottom: 0;
}

label {
  text-align: initial;
}

.login_submit {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.75;
  letter-spacing: 0.02857em;
  text-transform: uppercase;
  border: none;
  outline: none;
  min-width: 64px;
  padding: 6px 16px;
  border-radius: 4px;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  color: #fff;
  background-color: #7e50ee;
  box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%),
    0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
  width: 100%;
}

.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container-for-main {
  margin-top: 20px;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
  width: 32%;
  text-align: center;
  border-radius: 15px;
}

.login-form {
  background-color: #e4e5e6;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.login-logo {
  width: 20%;
}
