.links {
  color: #000;
}
.small-logo {
  width: 20%;
  cursor: pointer;
}
.css-aqqxug-MuiPaper-root-MuiMenu-paper-MuiPaper-root-MuiPopover-paper
  .MuiAvatar-root {
  width: 32px;
  height: 32px;
  margin-left: -4px;
  margin-right: 8px;
  color: gray;
  background: none;
}

/* media query */
@media only screen and (max-width: 600px) {
  .icon,
  .link_text {
    font-size: 8px;
  }
  .icon {
    padding: 0;
    padding-right: 5px;
  }
  .bars {
    font-size: 10px;
  }
  .link {
    padding: 4px;
  }
  .top-section {
    padding: 12px 15px;
    width: 14.5%;
  }
}
