.links {
  color: #000;
}
.small-logo {
  width: 20%;
  cursor: pointer;
  cursor: pointer;
}
.css-aqqxug-MuiPaper-root-MuiMenu-paper-MuiPaper-root-MuiPopover-paper
  .MuiAvatar-root {
  width: 32px;
  height: 32px;
  margin-left: -4px;
  margin-right: 8px;
  color: gray;
  background: none;
}
.bars {
  cursor: pointer;
}

