.dropdown-content {
	right: 0;
}

.chart-main-container {
	box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
	width: 93%;
	margin: 0 auto;
	background: #fff;
	padding: 20px;
	border-radius: 6px;
	height: 80vh;
	height: 80vh;
}

.dropdown-content {
	display: flex;
	margin-right: 33px;
	top: 3%;
	justify-content: right;
}
.dropdown-content select {
	margin: 13px;
	border: none;
	padding: 6px;
	font-size: 14px;
	box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
	cursor: pointer;
}
.dropdown-content select option {
	cursor: pointer;
	padding: 7px;
}
canvas {
	height: 55vh !important;
	width: 100% !important;
}
.chart-title {
	font-size: 18px;
	font-weight: 500;
}
.chart-main {
	display: flex;
	justify-content: space-between;
	margin-bottom: 15px;
}
.css-jedpe8-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input {
	padding: 4.5px 14px !important;
	font-size: 14px !important;
}

.graph {
	width: 75%;
	height: auto;
	margin: 0px auto;
	background: #fff;
	padding: 40px;
	border-radius: 8px;
	box-shadow: 0 0 10px 11px #e0e0e0;
}
