@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap");

/* font-family: 'Raleway', sans-serif; */

.feedback-component {
  width: 100%;
  margin: 5px auto;
  margin-top: 20px;
}

.feedback-container {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 8px;
  width: 90%;
  width: 90%;
  margin: 7px auto;
  background-color: white;
  color: black;
  padding: 10px;
}

.feedback-head p:nth-child(2) {
  margin-right: 3px;
  margin-top: 7px;
}

.feedback-block img {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #c8c8c8;
  margin-right: 10px;
}

.feedback-block p:nth-child(2) {
  font-size: 18px;
  font-family: "Raleway", sans-serif;
  justify-content: center;
  margin-left: 33px;
}

.users-one p {
  font-size: 12px;
  font-weight: 500;
  padding-bottom: 0px;
}
.business-name {
  display: flex;
}
.font-faint {
  font-size: 12px;
  font-weight: 400;
  color: rgb(145, 143, 143);
  text-align: right;
}
.feedback-block {
  display: flex;
  justify-content: space-between;
}
.name {
  text-transform: uppercase;
}
.username {
  padding-top: 5px;
}

.font-company {
  color: rgb(109, 109, 109);
}
.hr-line {
  border: 1px solid #dedede;
}

.MuiPagination-root {
  display: flex;
  justify-content: center;
  padding: 20px;
}


.no-feedback-heading {
  display: flex;
  justify-content: center;
  font-size: 22px;
  margin: 50px auto;
  font-style: italic;
}
.css-bf9wz-MuiButtonBase-root-MuiPaginationItem-root {
  min-width: 30px;
  min-height: 30px;
}
