.MuiButton-root {
  width: 47%;
  margin-left: 0px !important;
}

.btn-grp {
  margin-top: 20px;
}

.css-v4u5dn-MuiInputBase-root-MuiInput-root:hover:not(.Mui-disabled, .Mui-error):before {
  border-bottom: none;
}

.css-v4u5dn-MuiInputBase-root-MuiInput-root:before {
  border-bottom: none !important;
}

.css-v4u5dn-MuiInputBase-root-MuiInput-root:after {
  border-bottom: none !important;
}

.profile_form {
  text-align: left !important;
}

label {
  font-weight: bold;
}

.profile-pic {
  width: 20%;
  border-radius: 4px;
  margin: 10px;
}

.update_profile {
  padding: 3px 4px;
}

.css-sghohy-MuiButtonBase-root-MuiButton-root {
  width: 192px;
}
.input-update-profile {
  border: none;
  padding: 10px;
  box-shadow: 0 0 12px #686767;
}

.input-update-profile {
  border: none;
  padding: 8px;
  box-shadow: 0 0 3px #686767;
  border-radius: 4px;
  margin-left: 10px;
  font-size: 15px;
}

input:focus-visible {
  outline-offset: none !important;
  outline: none !important;
}
.image-upload {
  width: 60%;
}
