.MuiButton-root {
  width: 47%;
  margin-left: 0px !important;
}
.btn-grp {
  margin-top: 20px;
}
.css-v4u5dn-MuiInputBase-root-MuiInput-root:hover:not(
    .Mui-disabled,
    .Mui-error
  ):before {
  border-bottom: none;
}
.css-v4u5dn-MuiInputBase-root-MuiInput-root:before {
  border-bottom: none !important;
}
.css-v4u5dn-MuiInputBase-root-MuiInput-root:after {
  border-bottom: none !important;
}
.form_data{
  text-align: left;
}

